<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- General description of your web application -->

    <display-name>AppHook application template</display-name>
    <description>
        Use this template to create a new hook.
    </description>

    <context-param>
      <param-name>webmaster</param-name>
      <param-value>contact@you.com</param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>

    <servlet>
      <servlet-name>MyHook</servlet-name>
      <description>MyHook system.</description>
      <servlet-class>io.sysmo.hooks.template.MyHook</servlet-class>
      <!--
      Load this servlet at server startup time. Lower number first.
      Negative value or undefined tag disable load-on-startup.
      -->
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>AppHookHandler</servlet-name>
      <description>AppHook handler.</description>
      <servlet-class>io.sysmo.hooks.template.AppHookHandler</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>MyHook</servlet-name>
      <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>AppHookHandler</servlet-name>
      <url-pattern>/hooks/*</url-pattern>
    </servlet-mapping>

    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>


</web-app>
